
body {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.memory {
  display: flex;
  flex-wrap: wrap;
  width: 90vh;
  margin: 16px;

  div {
    padding: 16px;
  
    div {
      border-radius: 16px;
      box-shadow: 0 1px 16px rgba(0, 0, 0, .2);
      cursor: pointer;
      display: flex;
      justify-content: center;
      min-width: 100%;
      padding-top: 100%;
      position: relative;
      
      &:before {
        background-color: #fff;
        border-radius: 16px;
        content: '';
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &.on {
        &:before {
          background-color: transparent;
        }
      }
    }
  }
}
