@import url('https://rsms.me/inter/inter.css');
body{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5%;
}

.word{
  display: flex;
  font-family: inter, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: .75;
  margin-bottom: 80px;
  text-transform: uppercase;
  width: 100%;

  div {
    align-items: center;
    border: 1px solid #999;
    border-radius: 8px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 24px;
    text-align: center;
    transition: flex .2s linear, border .2s linear, box-shadow .2s linear;

    &:focus {
      border: 3px solid #f90;
      box-shadow: 0 0 10px rgba(#f90, .5);
      flex: 1.2;
      outline: none;
      transition: flex .2s linear, border .2s linear, box-shadow .2s linear;
    }
  }

  div + div {
  margin-left: 16px;
  }
}

h1 {
  font-family: inter, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  text-align: center;
}