//base styles

@import 'reset';
@import 'vars';
@import 'base'; 
@import 'mixins';
@import 'type';
@import 'tables';
@import 'forms';
@import 'utilities';


//components

@import 'components/modal';
@import 'components/submenu';
@import 'components/lotto';
@import 'components/users';
@import 'components/post';



//games
@import 'games/memory';
@import 'games/words';


body {
    background-color: $main-color;
    height: 150vh;
}

header {
    background-color: #fff;
    position: fixed;
    @include anim(background-color);
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 16px;
        @include anim(padding);

        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }

    li {
        padding: 16px 0;
        text-transform: capitalize;
        @include anim(padding);

        &:not(.toggle) {
            display: none;
        }

        &.toggle {
            border: 0;
            display: flex;
            justify-content: flex-end;
        }

        @media (min-width: $tablet) {
            padding: 0 16px;
            @include anim(padding);
        }
        
        &:hover {
            background-color: rgba(255, 255, 255, .9);
            //cursor: pointer;
            @include anim(background-color);
            a {
                color: #f00;
                @include anim(color);
            }
        }
    }

    li + li {
        border-top: 1px solid #ccc;
    
        @media (min-width: $tablet) {
            border-top: 1px solid #ccc;
            border-top: 0;
            margin-top: 0;
        }
    }

    &.small {
        background-color: #000;
        @include anim(background-color);

        a {
            color: #fff;
        }
    
        ul {
            @media (min-width: $tablet) {
                padding: 8px 16px;
                @include anim(padding);
            }
        }

        li {
            padding: 8px 0px;
            @include anim(padding);
            @media (min-width: $tablet) {
                padding: 0px 8px;
                @include anim(padding);
            }
        }
    }

    .toggle {
        svg {
            &:hover {
            cursor: pointer;
            }
        }

        .top {
            transition: transform  .3s ease-in-out;
        }

        .middle {
            transform: scale(1);
            transform-origin: center;
            transition: transform  .3s ease-in-out;
        }

        .bottom {
            transition: transform  .3s ease-in-out;
        }

    }

    .menu {
        &.active {
            li {
                display: flex;
            }
            .toggle {
                order: -1;
            }
            .top {
                transform: translateX(7px) translateY(0px) rotate(45deg);
                transition: transform .3s ease-in-out;
            }

            .middle {
                transform: scale(0);
                transform-origin: center;
            }

            .bottom {
                transition: transform .3s ease-in-out;
                transform: translateX(-10px) translateY(10px) rotate(-45deg);
            }
        }
    }




}

